pkgbase = floatlyrics
	pkgdesc = Floating synchronized lyrics for Spotify on Linux Wayland
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ChouChiu/FloatLyrics
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = cairo
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = libgcc
	depends = openssl
	depends = pango
	source = floatlyrics-1.0.0.tar.gz::https://github.com/ChouChiu/FloatLyrics/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = f787d189b0257dddbafded01151f03b44bcb692887f8e70f37d35b94d37708c9

pkgname = floatlyrics
